<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Notes app</title>
</head>
<body>
  <form action="/notes" method="POST">
  <input type="text" placeholder="Question" name="Question">
  <input type="text" placeholder="Answer" name="Answer">
  <button type="submit">Submit</button>
</form>
</body>
</html>