<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Notes app</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <h1>Hello {{{firstName}}}</h1>
</form>
</body>
</html>